.status {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  margin-right: 20px;
}

.red {
  composes: status;
  background-color: red;
}

.green {
  composes: status;
  background-color: green;
}

.avatar {
  margin-right: 20px;
  border-radius: 10px;
}

.name {
  margin: 0;
  font-size: 28px;
  font-weight: 600;
  align-items: center;
}
