.statistics {
  width: 800px;
  height: auto;
  margin: 100px auto;
}

.title {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(231, 247, 236);
}

.statList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, 160px);
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #ffffff;
}

.blue {
  composes: item;
  background-color: rgb(46, 209, 238);
}

.violet {
  composes: item;
  background-color: rgb(153, 10, 153);
}

.red {
  composes: item;
  background-color: rgb(66, 22, 22);
}

.green {
  composes: item;
  background-color: rgb(10, 105, 77);
}

.label {
  margin-bottom: 20px;
}

.percentage {
  font-size: large;
}
